html {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
}

.nav-menu-item .nav-sub-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 0.0625rem solid rgb(226, 226, 226);
  padding-bottom: 50px;
  border-bottom: 0.0625rem solid rgb(226, 226, 226);
}

.nav-menu-item:hover .nav-sub-menu {
  display: block;
}

.nav-sub-menu-link {
  color: #4f5057;
  text-decoration: none;
  display: block;
  padding-right: 0.3125rem;
  font-size: 0.875rem;
  line-height: 1.6875rem;
  white-space: nowrap;
}

.nav-sub-menu-link:hover {
  color: #8fbe00;
}
